<!-- <p>home works!</p> -->
<section class="hero-container mt-8 p-8">
    <div
      class="flex flex-wrap-reverse flex-row justify-center items-center xl:gap-28"
    >
      <div class="hero-text flex flex-col items-center justify-center">
        <div
          class="sm-xs:text-xl sm:text-2xl md:text-2xl lg:text-4xl font-semibold text-center"
        >
          Automate self-development
        </div>
  
        <div class="text-base mt-4 mb-4 text-center leading-8 xl:px-10 lg:px-10">
          Evolve daily by efficiently managing your time, thoughts, tasks and
          routines in a simple app.
        </div>
  
        <div class="flex flex-col">
          <button class="flex justify-center items-center btn-watch">
            <img src="../../../assets/images/arrow.png" alt="" />
            <span>Watch Video</span>
          </button>
          <div class="flex mt-6 gap-6">
            <img src="../../../assets/images/appstore.png" alt="" />
            <img src="../../../assets/images/playstore.png" alt="" />
          </div>
        </div>
      </div>
  
      <img src="../../../assets/images/Climbing-pana.png" alt="" />
    </div>
  
    <section class="hidden sm:block mt-8">
      <div class="flex items-center justify-center gap-2">
        <span class="dots active"></span>
        <span class="dots"></span>
        <span class="dots"></span>
      </div>
    </section>
  </section>
  
