<!-- <p>features works!</p> -->
<section class="features-container flex p-8">
    <div class="flex flex-col items-center justify-center w-full">
      <div class="text-lg font-semibold">One App To Rule Them All</div>
  
      <div class="mt-8 features-container w-full">
        <div class="features flex flex-col items-center justify-center p-4 gap-3">
          <img src="../../../assets/images/check.png" alt="" />
          <span class="text-base font-medium">To-Do List</span>
        </div>
        <div class="features flex flex-col items-center justify-center p-4 gap-3">
          <img src="../../../assets/images/revolve.png" alt="" />
          <span class="text-base font-medium">Habit Tracker</span>
        </div>
        <div class="features flex flex-col items-center justify-center p-4 gap-3">
          <img src="../../../assets/images/book.png" alt="" />
          <span class="text-base font-medium">Journaling</span>
        </div>
        <div class="features flex flex-col items-center justify-center p-4 gap-3">
          <img src="../../../assets/images/notes.png" alt="" />
          <span class="text-base font-medium">Notes</span>
        </div>
  
        <div class="features flex flex-col items-center justify-center p-4 gap-3">
          <img src="../../../assets/images/list.png" alt="" />
          <span class="text-base font-medium">Lists</span>
        </div>
      </div>
    </div>
  </section>
  
