<!-- <p>plans works!</p> -->
<section class="plans p-8">
    <div class="flex flex-col gap-6 justify-center items-center">
      <h1
        class="text-4xl sm:text-2xl sm-xs:text-2xl md:text-2xl lg:text-3xl text-center"
      >
        Choose the best plan for you
      </h1>
  
      <div class="flex flex-wrap justify-center items-center gap-10">
        <div class="price-box">
          <span class="price mb-4">$0</span>
          <span class="period mb-1">Free</span>
          <span class="cycle">(For 30 days)</span>
        </div>
        <div class="price-box">
          <span class="price mb-4">$3.99</span>
          <span class="period mb-1">Per month</span>
          <span class="cycle">(Monthly Billing)</span>
        </div>
        <div class="price-box">
          <span class="price mb-4">$2.99</span>
          <span class="period mb-1">Per Year</span>
          <span class="cycle">(Yearly Billing)</span>
        </div>
      </div>
      <div class="offer-box p-6 items-center">
        <h4 class="text-2xl">What we offer</h4>
  
        <div class="flex flex-col items-start">
          <div class="flex gap-4 mt-8">
            <img src="../../../assets/images/add.png" alt="" />
            <p>Add Todos, Habits, Journals and Notes in a single app.</p>
          </div>
          <div class="flex gap-4 mt-6">
            <img src="../../../assets/images/person.png" alt="" />
            <p>Four types of Habit Tracking.</p>
          </div>
          <div class="flex gap-4 mt-6">
            <img src="../../../assets/images/chart.png" alt="" />
            <p>Track Todos, Habits, Journals and Notes with daily values.</p>
          </div>
          <div class="flex gap-4 mt-6">
            <img src="../../../assets/images/smile.png" alt="" />
            <p>Update your Mood and Pictures in Journal and Notes section.</p>
          </div>
          <div class="flex gap-4 mt-6">
            <img src="../../../assets/images/blue-palette.png" alt="" />
            <p>Customize the app color.</p>
          </div>
          <div class="flex gap-4 mt-6">
            <img src="../../../assets/images/ring.png" alt="" />
            <p>Notification and Reminders.</p>
          </div>
          <div class="flex gap-4 mt-6">
            <img src="../../../assets/images/lock.png" alt="" />
            <p>Lock Pin</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
