<app-header></app-header>

<app-home id="Home"></app-home>

<app-features id="Features"></app-features>

<app-customize-one ></app-customize-one>
<app-customize-two></app-customize-two>
<app-customize-three class="hidden md:block"></app-customize-three>
<app-customize-four class="hidden md:block"></app-customize-four>
<app-customize-five class="hidden md:block"></app-customize-five>

<app-video-sec></app-video-sec>

<app-plans id="Pricing"></app-plans>

<app-contact id="Contact Us"></app-contact>

<app-footer></app-footer>