.customize-section {
    background-color: var(--bg-white-1);
  }
  
  .primary-color {
    color: var(--primary-color);
  }
  .group-img img {
    max-width: 537px;
  }
  .group-list {
    color: var(--text-light);
    list-style: disc;
  }
  