.customize-section {
    background-color: var(--bg-white-1);
  }
  .expandable-box {
    width: 100%;
    max-width: 100%;
    background-color: var(--bg-white-1);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05),
      -4px -4px 40px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    border-radius: 6px;
  }
  .primary-color {
    color: var(--primary-color);
  }
  .office-img img {
    max-width: 337px;
  }
  .group-img {
    max-width: 293px;
    width: 100%;
  }
  