.footer-container {
    background-color: #424242;
  
    img {
      max-width: 140px;
    }
    p {
      color: var(--text-light);
    }
    span {
      font-size: 14px;
      color: var(--text-light);
    }
    a {
      color: #fff;
      font-size: 12px;
    }
  }
  .rights {
    font-size: 12px;
  }
  .divider {
    border: 0.2px solid #949c9e;
    transform: rotate(180deg);
  }
  