<!-- <p>customize-two works!</p> -->
<section class="customize-section flex items-center justify-center p-8">
    <div class="flex items-center justify-center xl:gap-24 lg:gap-24">
      <div class="flex flex-col items-center">
        <div
          class="sm:text-xl sm-xs:text-xl md:text-2xl lg:text-4xl font-semibold text-start sm:text-center sm-xs:text-center"
        >
          Customize the way you like
        </div>
  
        <div class="expandable-box mb-4 mt-6">
          <div class="flex items-between justify-between">
            <div class="flex gap-4">
              <img
                class="switch"
                src="../../../assets/images/switch.png"
                alt=""
              />
              <h4 class="text-base font-medium primary-color">
                Turn Off-On the features
              </h4>
            </div>
            <img
              style="margin-left: auto"
              src="../../../assets/images/expand_up_blue.png"
              alt=""
            />
          </div>
          <div class="flex gap-4">
            <div class="text-sm mt-2 text-light ml-10 sm:mr-4 sm-xs:mr-4">
              Mevolve was developed to help you reach your goals and be more
              consistent.
            </div>
          </div>
  
          <div
            class="hidden lg:hidden md:hidden sm:block sm-xs:block w-full text-center"
          >
            <img
              class="inner-img"
              src="../../../assets/images/customize2.png"
              alt=""
            />
          </div>
        </div>
        <div class="expandable-box mb-4">
          <div class="flex items-between justify-between">
            <div class="flex gap-4">
              <img src="../../../assets/images/light.png" alt="" />
              <h4 class="text-base font-medium">Light and Dark mode</h4>
            </div>
            <img
              style="margin-left: auto"
              src="../../../assets/images/expand_down.png"
              alt=""
            />
          </div>
        </div>
        <div class="expandable-box mb-4">
          <div class="flex items-between justify-between">
            <div class="flex gap-4">
              <img src="../../../assets/images/palette.png" alt="" />
              <h4 class="text-base font-medium">Multi-theme colors</h4>
            </div>
            <img
              style="margin-left: auto"
              src="../../../assets/images/expand_down.png"
              alt=""
            />
          </div>
        </div>
      </div>
  
      <div class="hidden lg:block md:block">
        <img src="../../../assets/images/customize2.png" alt="" />
      </div>
    </div>
  </section>
  
